*{
    margin: 0px;
    padding: 0px;

}

header{
    background-color: violet;
    height: 70px;
    margin: 10px 10%;
}
footer{
    background-color: purple;
    height: 50px;
    margin: 0px 10%;
}

.container-1{
    background-color: rgb(221, 172, 81);
    height: 280px;
    margin: 0px 10%;
}

.container-2{
    background-color: cornflowerblue;
    height: 300px;
    margin: 10px 10%;
    padding-top: 7%;
}

.container-2::after{
    content: "";
    display: table;
    clear: both;
    
}

.box{
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
      display: inline-block;
}

.sinistra{
    float: left;
    width: 20%;
    height: 95%;
    
}

.destra{
    float: left;
    width: 20%;
    height: 95%;
    
}

.centrale{
    float: left;
    border-left:6px solid blue;
    border-right:6px solid blue;
    width: 59%;
    height: 95%;
    
}